body {
    margin: 0px;
    background: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background: blanchedalmond;
}

.logo {
    color:#8271b8;
}

.links {
    color:#ca9acc;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.left {
    flex-direction: column;
    padding: 100px;
}

.title {
    margin-bottom: 10px;
    font-size: 50px;
    color:#8271b8
}

.container .text {
    margin-bottom: 10px;
    color:#ca9acc
}

/* CSS */
.button-33 {
  background-color: #dfaedb;
  border-radius: 100px;
  box-shadow: #d794bf 0 -25px 18px -14px inset,#d398c6 0 1px 2px,#d398c6 0 2px 4px,#d398c6 0 4px 8px,#d398c6 0 8px 16px,#d398c6 0 16px 32px;
  color: blanchedalmond;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: #987ac0 0 -25px 18px -14px inset,#987ac0 0 1px 2px,#987ac0 0 2px 4px,#987ac0 0 4px 8px,#987ac0 0 8px 16px,#987ac0 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.right {
    padding: 100px
}

.container img {
    width: 500px;
}

.info-title {
    padding-top: 30px;
    font-size: 25px;
    background-color:#b0c0cf;
    color: blanchedalmond;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #b0c0cf;
    text-align: center;
}

.content .text {
    color: blanchedalmond;
}

.content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.quote, .author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #997fc6;
    color: blanchedalmond;
}

.quote {
    padding-top: 80px;
    padding-bottom: 20px;
    font-style: italic;
}

.author {
    padding-bottom: 80px;
    font-weight: bold;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 100px;
    margin-left: 220px;
    margin-right: 220px;
    border: 10px;
    border-radius: 10px;
    background-color: #d895c0;
}

.card .title {
    font-size: 17px;
    color: blanchedalmond;
    font-weight: bold;
}

.card .text {
    background-color: #d895c0;
    color: blanchedalmond;
    font-size: 13px;
}

.card .left {
    margin-right: 120px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    color: #d895c0;
}
