body {
    margin: 0px;
    background: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background: blanchedalmond;
}

.logo {
    color:#8271b8;
}

.links {
    color:#ca9acc;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.left {
    flex-direction: column;
    padding: 100px;
}

.title {
    margin-bottom: 10px;
    font-size: 50px;
    color:#8271b8
}

.text {
    margin-bottom: 10px;
    color:#ca9acc
}

/* CSS */
.button-33 {
  background-color: #dfaedb;
  border-radius: 100px;
  box-shadow: #d794bf 0 -25px 18px -14px inset,#d398c6 0 1px 2px,#d398c6 0 2px 4px,#d398c6 0 4px 8px,#d398c6 0 8px 16px,#d398c6 0 16px 32px;
  color: blanchedalmond;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: #987ac0 0 -25px 18px -14px inset,#987ac0 0 1px 2px,#987ac0 0 2px 4px,#987ac0 0 4px 8px,#987ac0 0 8px 16px,#987ac0 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.right {
    padding: 100px
}

.container img {
    width: 500px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #b0c0cf;
}

.content .info {
    max-width: 200px;
}

.content img {
    width: 200px;
    height: 200px;
}



